@{

    List<GiveAID.Models.Payment> ls = ViewBag.pays;
    int i = 1;
}

<!-- Disabled Backdrop Modal -->
@if (ls != null)
{
    <div class="modal fade" id="disablebackdrop1" tabindex="-1" data-bs-backdrop="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="">
                    <table class="table table-bordered border-primary">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Reason to use</th>
                                <th scope="col">Amount spent</th>
                                <th scope="col">Date created</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (dynamic item in ls)
                            {
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>@item.description</td>
                                    <td>@item.payout</td>
                                    <td>@item.created_at.ToString("dd-MM-yyyy")</td>
                                </tr>
                                i++;
                            }

                        </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="@Url.Content("~/Admin")@Url.Action("InsertPayment")" data-bs-toggle="modal" data-bs-target="#disablebackdrop2" class="btn btn-primary">Create payment</a>
            </div>
        </div>
    </div>
</div><!-- End Disabled Backdrop Modal-->
}
@Html.Partial("InsertPayment")
